<h1>My Movies Watchlist</h1>

<%= link_to "Create a List", "/lists/new", class: "btn btn-primary" %>

<h3>Lists</h3>

<ul>

  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>

</ul>
